@page
@model IndexModel
@{ ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Examen 1</h1>
    <h1 class="display-4">Programación VI</h1>
    <h1 class="display-4">Ismael Umaña Arguedas</h1>
    <p>UTC <a href="https://www.utc.ac.cr/web_i/"> Universidad Tecnológica </a>.</p>
</div>